.notfound-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notfound-image {
    width: 500px;
    margin-top: 30px;
}

.notfound-text {
    color: #999999;
    font-size: 18px;
    font-weight: bold;
}
